!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title= current_page.data.title || 'morokovsky'
    = stylesheet_link_tag 'main'
    = javascript_include_tag  'main'
  %body
    .navbar
      %ul
        %li= link_to 'Yuki Morokoshi', '/yuki-morokoshi.html'
        %li= link_to 'Works', '/works.html'
    = yield
